.card {
  background-color: #ddd;
  border-radius: 5px;
  color: black;
  margin: 10px 0;
  padding: 20px;
}

.card img {
  border-radius: 5px;
  margin-top: 5px;
}

.card h2 {
  text-align: center;
}

.card h3 {
  font-size: 18px;
}
.card p {
  margin-top: 3px;
}
