* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}
ul {
  list-style: none;
}
body {
  background-color: #282c34;
  color: #fff;
}

.country {
  display: flex;
  margin-top: 20px;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.country__lists {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.country__info--data {
  width: 25%;
  margin-left: 20px;
}
